#mainNav {
  background-color: #085631;
  font-family: Podkova, Serif;
}

.landing-page-menu-item {
  background: #2cff41;

}

.landing-page-menu-item:hover {
  cursor: pointer;
  background: #3da700;
  font-weight: bold;
}

.light-green {
  color: #4caf50;
}

.about-text {
  font-family: Podkova, Serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sign-in-box {
  padding-top: 15px;
  margin-right: 15px ;
  padding-left: 10px;
font-family: Coda;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 20px;
  width: 100px;
  height: 40px;
  background: #085631;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
}

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-login {
  position: relative;
  height: 370px;
  margin-top: 500px;
  margin-bottom: auto;
  width: 400px;
  background: rgba(136, 255, 133, 0.24);
}

.card-project {
  position: relative;
  height: 370px;
  margin: 25px;
  margin-bottom: auto;
  width: 400px;
  background: rgba(136, 255, 133, 0.24);
}

.card-project:hover {
  background: rgba(0, 194, 109, 0.73);

}

.card-header{
  border: midnightblue;
  background-color: transparent;
}

.input-group-prepend span{
width: 50px;
background-color: #388e3c;
color: black;
border:0 !important;
}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #388e3c;
width: 100px;
  margin-left: 200px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.gradient-matter {
  position: fixed;
  width: 100%;
  height: 100%;

background: linear-gradient(0deg, #CAFFE6 0%, rgba(227, 255, 241, 0) 55.85%);
}

.sign-up-button {
  color: white;
  background-color: #23bfa2 !important;;
  width: 100px;
  border: solid;
  border-color: #1d8e75;
  font-family: Podkova, Serif;
}

.sign-up-button:hover {
color: black;
background-color: white;
}

.info-header {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 34px;
}

.linear-matter {
  position: relative;
  width: auto;
  height: 900px;
  margin-bottom: 0px;
  background: linear-gradient(0.4deg, rgba(202, 255, 230, 0.45) 0.33%, rgba(192, 254, 224, 0) 77.73%);
}

.light-green {
  color: #4caf50;
}

.embed-container {
    position: absolute;
    padding-bottom: 80%;
    height: 0;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

small {
    position: absolute;
    z-index: 40;
    bottom: 0;
    margin-bottom: -15px;
}


footer {
  background-color: #085631;
}

.text-white {
  color: white;
  border-color: white;
}

.form-container {
  position: relative;
  height: auto;
  width: auto;
  padding: 100px;
  margin-left: 100px;
}

.breath-check {
margin: 15px;
}

.form-box {
  box-shadow: #085631;
  background: linear-gradient(0.4deg, rgba(192, 254, 224, 0) 0.33%, rgba(99, 255, 189, 0.65) 77.73%);
}

.filler {
  background: linear-gradient(0.4deg, rgba(192, 254, 224, 0) 0.33%, rgba(99, 255, 189, 0.65) 77.73%);
}

.tag-button {
  background-color: lightseagreen;
}

.tag-button:hover {
  background-color: blue;
}

.first-nav-item {
  margin-left: 60px;
}

.logo {
  width: 10px;
  height: 10px;
}

