<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<link href="https://fonts.googleapis.com/css?family=Podkova&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Coda&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom fonts for this theme -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->

  <!--<link rel="stylesheet" type="text/css" href="{%static 'style.css'%}"> -->
  <link rel="stylesheet" type="text/css" href="../static/style.css">

  <!-- Javascrip/jquery for bootstrap components -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<!-- <body> -->

  <header>
    <div>
      <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav"/>

      <a class="navbar-brand" href={% url 'index' %}><img src="../static/images/logo.png" width="75px" height="75px" style="margin-right: 10px"/>The Scholar System</a>
      {% if loggedin %}
      <a class="navbar-brand nav-item" href={% url 'createproject' %}>Create Project</a>
      <a class="navbar-brand nav-link ml-auto"  href={% url 'logoutsubmit' %} >LOGOUT</a>
      {% else %}
      <a class="navbar-brand nav-item" style="float: right;" href={% url 'signup' %} >Sign Up</a>
      {% endif %}
      </nav>
    </div>
  </header>
 <body>

  {% if messages %}
      {% for message in messages %}

	<script>
	  alert("{{ message }}")
  </script>
      {% endfor %}
  {% endif %}

	{% block content %}
	{% endblock %}
</body>

<footer>
  <div class="container mt-5 text-white footer">
    <div class="row">
      <div class="col mt-5">
        <h6 class="text-uppercase font-weight-bold">
          <strong class="text-white">Galaxy Brains</strong>
        </h6>
        <hr class="text-white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Stuff about galaxy brains goes here. Lorem ipsum dolor sit
          amet, consectetur adipisicing elit.
        </p>
      </div>
      <div class="col mt-5">
        <h6 class="text-uppercase font-weight-bold">
          <strong class="text-white">Useful Links</strong>
        </h6>
        <hr class="text-white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Link and stuff. Lorem ipsum dolor sit
          amet, consectetur adipisicing elit.
        </p>
      </div>
      <div class="col mt-5">
        <h6 class="text-uppercase font-weight-bold">
          <strong class="text-white">Contact</strong>
        </h6>
        <hr class="text-white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-envelope mr-3"></i> example@example.com
        </p>
      </div>
    </div>
  </div>
</footer>
