<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<link href="https://fonts.googleapis.com/css?family=Podkova&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Coda&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom fonts for this theme -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->

  <!--<link rel="stylesheet" type="text/css" href="{%static 'style.css'%}"> -->
  <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body>

  <header>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav"/>
    <a class="navbar-brand" href={% url 'index' %}>The Scholar System</a>
    <a class="navbar-brand nav-item" href={% url 'projectPage' %}>Create Project</a>

    <a class="navbar-brand nav-item" style="float: right;" href={% url 'signup' %} >Sign Up</a>

  </header>

  {% if messages %}
      {% for message in messages %}
	<script>
	  alert("{{ message }}")
        </script>
      {% endfor %}
  {% endif %}

	{% block content %}
	{% endblock %}
</body>
