
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Podkova&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Coda&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Temp</title>

  <!-- Custom fonts for this theme -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->

  <link rel="stylesheet" type="text/css" href="{% static 'style.css '%}">

</head>

<body>
  <header>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav"/>
      <a class="navbar-brand" href="index.html">The Scholarship System</a>
  </header>
  <main>
    <section class="d-flex align-items-center hero vh-100 ">
      <div class="container-fluid container-fluid-max ">
        <div class="row justify-content-end">
          <div class="col-lg-5 col-md-7 col-sm-10 col-xl-5 login_box">
            <div class="card">
              <div class="card-header">
                <h3 class="text-white sign-in-box">Sign in</h3>
              </div>
              <div class="card-body">
                <form>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="username">
                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="password">
                  </div>
                  <div class="row align-items-center remember">
                    <input type="checkbox">Remember Me
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Login" class="btn float-right login_btn">
                  </div>

                </form>
                <div class="sign-up-button" >
                  <input href=""  type="submit" value="Sign-Up" class="btn float-right login_btn">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
      </div>
    </section>
     <div class="gradient-matter "> <! Add info thot to bottom of page>
        <section>
          <h3 class="info-header">
            Info Thot
          </h3>
        </section>
      </div>
  </main>
</body>
