{% extends 'base.html' %}

{% block content %}
<title>Scholar System</title>
<main>
    <section class="d-flex align-items-center hero vh-100 ">
        <div class="container-fluid embed-container" style="position: absolute; margin-top: 18%">
            <iframe width="500" height="300" frameborder="0" scrolling="no" marginheight="" marginwidth="0"
                    title="GBS1 draft2"
                    src="//www.arcgis.com/apps/Embed/index.html?webmap=97a4d004b5c342b3b98e4e527fc9b1e8&extent=-158.6434,20.8211,-156.8733,21.7463&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=dark"></iframe>

            {% if loggedin %}
            {% else %}
            <div class="row justify-content-end">
                <div class="col-lg-5 col-md-7 col-sm-10 col-xl-5 login_box">
                    <div class="card-login">
                        <div class="card-header">
                            <h3 class="text-white sign-in-box">Sign in</h3>
                        </div>
                        <div class="card-body">
                            <form action="signinsubmit/" method="post">
                                {% csrf_token %}
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" name="email">
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Password" name="password">
                                </div>
                                <div class="row align-items-center remember">
                                    <input type="checkbox">Remember Me
                                </div>
                                <button class="btn btn-lg btn-success btn-block" type="submit" style="margin-top: 5px;">Login</button>
                            </form>
                            <div style="margin-top: 20px;"><button class="btn btn-lg btn-secondary btn-block" onclick="location.href='{% url 'signup' %}'" type="button">Sign up</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
</main>

{% endblock %}
