{% extends 'base.html' %}

{% block content %}

<div style="background: linear-gradient(0.4deg, rgba(192, 254, 224, 0) 0.33%, rgba(99, 255, 189, 0.65) 77.73%); padding-top: 10px">
    <div class="container" style="margin-top: 8%; margin-left: 43%; margin-bottom: 25px" >
        <img src="../static/images/logo.png" width="150px" height="150px" />
    </div>
<div class="container" style="margin-bottom: 10px; margin-left: 30%;">

    <div class="list-group list-group-horizontal-sm shadow" style="margin-right:50%; cursor: pointer">
        <a class="landing-page-menu-item list-group-item list-group-item-action" onclick="location.href='../'"><ion-icon name="home"></ion-icon>Home</a>
        <a class="landing-page-menu-item list-group-item list-group-item-action " onclick="location.href='../projectlisting'"><ion-icon name="list-box"></ion-icon>Project List</a>
        <a class= "landing-page-menu-item list-group-item list-group-item-action " onclick="location.href='{% url "createproject" %}' "><ion-icon name="star"></ion-icon>Create a Project</a>
    </div>
</div>
<div class="container">

    <div class="jumbotron about-text">
        <h1 class="display-4">Scholar System</h1>
        <p class="lead">This is a hub designed to educate and provide resources
            for communities to take part in sustainability projects in accordance with the Aloha+ standards. Projects listed below
            are a few hand-selceted projects from each grade level. Click the blue button below their description to learn more.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="padding-bottom: 50px;">
                <div class="card-header">
                    <h3>Elementary School</h3>
                </div>
                <div class="card-project" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Erase The Wastepollution Solution<br></h5>
                        <p class="card-text">What type of function (linear or quadratic) better correlates to a given data set? How does one know which provides a better fit for the data?How can one use linear or quadratic functions to predict the
                            chances of hitting a target from a certain distance</p> <a href=../projectpage/erase-the-wastepollution-solution class="btn btn-primary">More info</a>
                    </div>
                </div>
                <div class="card-project" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">EH MAHINA, HOWZIT GROWING<br></h5>
                        <p class="card-text">What plants grow in relation to how the moon grows</p> <a href=../projectpage/eh-mahina-howzit-growing class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="padding-bottom: 50px;">
                <div class="card-header">
                    <h3>Middle School</h3>
                </div>
                <div class="card-project" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Voyager Meal Planning<br></h5>
                        <p class="card-text">What kinds of meals are appropriate for a long distance voyage?</p> <a href=../projectpage/voyager-meal-planning class="btn btn-primary">More info</a>
                    </div>
                </div>
                <div class="card-project" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Coral Reef, Climate Change, and You<br></h5>
                        <p class="card-text">How do we know if carbon dioxide levels are rising and what can I do about it in my personal life and in my community to affect change?</p> <a href=../projectpage/coral-reef-climate-change-and-you
                            class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="padding-bottom: 50px;">
                <div class="card-header">
                    <h3>High School</h3>
                </div>
                <div class="card-project" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">THE PIECEWISE FUNCTIONS OF FISHING PRODUCTIVITY ACCORDING TO THE HAWAIIAN MOON CALENDAR<br></h5>
                        <p class="card-text">How can we create mathematical functions to model the Hawaiian moon calendar to determine fishing productivity?</p> <a
                            href=../projectpage/the-piecewise-functions-of-fishing-productivity-according-to-the-hawaiian-moon-calendar class="btn btn-primary">More info</a>
                    </div>
                </div>
                <div class="card-project" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">THERMODYNAMICS: FOOD PACKAGING DESIGN<br></h5>
                        <p class="card-text">What are the best materials to use for an insulated shave ice container that will be both cost-efficient and environmentally-friendly?</p> <a href=../projectpage/thermodynamics-food-packaging-design
                            class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>


{% endblock %}
