{% extends 'base.html' %}
{% block content %}
    <Title>{{ project_information.name }}</Title>
<main>
  <section>
    <div class="container-fluid" style="margin-top: 125px ">
      <div class="row">
        <div class="col-6">
          <img src="https://i.imgur.com/uGBgce2.jpg" width="500" height="330">

          <!-- <img src="../static/images/test2.jpeg" width="500" height="330"> -->
        </div>
        <div class="col-6">
          <h2 class="font-weight-bold green-font">{{ project_information.name }} </h2>
          <hr>
          <h6 class="pb-1 light-green"><i class="fas fa-graduation-cap"></i><strong> Grade: {{ project_information.grade }} </strong></h6>
          <h6 class="pb-1 light-green"><i class="fas fa-graduation-cap"></i><strong> Sweat Equity: {{ project_information.sweat }} </strong></h6>
          <h6 class="pb-1 light-green"><i class="fas fa-graduation-cap"></i><strong> Timeframe: {{ project_information.timeframe }} </strong></h6>

          <h4 class="pb-1 light-green">Project Description:</h4>  <p>{{ project_information.description }}</p>
          <div class="row">
            <div class="col-2">
              <h7>
                {% if project_information.breath.B %}
                <i class="fas fa-check" style="color:MediumSeaGreen;"></i> 
                {% else %}
                <i class="fas fa-check" style="color:black;"></i> 
                {% endif %}
                B </h7>
            </div>
            <div class="col-2">
              <h7>
                {% if project_information.breath.R %}
                  <i class="fas fa-check" style="color:MediumSeaGreen;"></i> 
                {% else %}
                  <i class="fas fa-check" style="color:black;"></i> 
                {% endif %} 
                R </h7>
            </div>
            <div class="col-2">
              <h7>
                {% if project_information.breath.E %}
                  <i class="fas fa-check" style="color:MediumSeaGreen;"></i> 
                {% else %}
                  <i class="fas fa-check" style="color:black;"></i> 
                {% endif %} 
                E </h7>
            </div>
            <div class="col-2">
              <h7>
                {% if project_information.breath.A %}
                  <i class="fas fa-check" style="color:MediumSeaGreen;"></i> 
                {% else %}
                  <i class="fas fa-check" style="color:black;"></i> 
                {% endif %} 
                A </h7>
            </div>
            <div class="col-2">
              <h7>
                {% if project_information.breath.T %}
                  <i class="fas fa-check" style="color:MediumSeaGreen;"></i> 
                {% else %}
                  <i class="fas fa-check" style="color:black;"></i> 
                {% endif %}
                T </h7>
            </div>
            <div class="col-2">
              <h7>
                {% if project_information.breath.H %}
                  <i class="fas fa-check" style="color:MediumSeaGreen;"></i> 
                {% else %}
                  <i class="fas fa-check" style="color:black;"></i> 
                {% endif %} 
                H </h7>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2 class="font-weight-bold mt-5">Nā Hopena A‘o Statements
            HĀ: <span class="light-green">BREATH</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h3 class="light-green">Belonging</h3>
          <hr>
          <p>I stand firm in my space with a strong foundation of
            relationships. A sense of Belonging is demonstrated through
            an understanding of lineage and place and a connection to
            past, present, and future. I am able to interact respectfully for
            the betterment of self and others.</p>
        </div>
        <div class="col-6">
          <h3 class="light-green">Aloha</h3>
          <hr>
          <p>I show care and respect for myself, families, and
            communities. A sense of Aloha is demonstrated through
            empathy and appreciation for the symbiotic relationship
            between all. I am able to build trust and lead for the good of
            the whole.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h3 class="light-green">Responsibility</h3>
          <hr>
          <p>I willingly carry my responsibility for self, family, community
            and the larger society. A sense of Responsibility is
            demonstrated by a commitment and concern for others. I am
            mindful of the values, needs and welfare of others.</p>
        </div>
        <div class="col-6">
          <h3 class="light-green">Total Well-being</h3>
          <hr>
          <p>I learn about and practice a healthy lifestyle. A sense of
            Total Well-being is demonstrated by making choices that
            improve the mind, body, heart and spirit. I am able to meet
            the demands of school and life while contributing to the wellbeing of family, ‘āina, community and world.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h3 class="light-green">Excellence</h3>
          <hr>
          <p>I believe I can succeed in school and life and am inspired to
            care about the quality of my work. A sense of Excellence is
            demonstrated by a love of learning and the pursuit of skills,
            knowledge and behaviors to reach my potential. I am able to
            take intellectual risks and strive beyond what is expected.</p>
        </div>
        <div class="col-6">
          <h3 class="light-green">Hawai'i</h3>
          <hr>
          <p>I am enriched by the uniqueness of this prized place. A
            sense of Hawai‘i is demonstrated through an appreciation
            for its rich history, diversity and indigenous language and
            culture. I am able to navigate effectively across cultures and
            communities and be a steward of the homeland.</p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
