<div class="col-6" style="margin-top: 75px">
    <h2 class="font-weight-bold green-font">{{ name }} </h2>
    <hr>
    <h6 class="pb-1 light-green"><i class="fas fa-graduation-cap"></i><strong> Grade: {{ grade }} </strong></h6>
    <h6 class="pb-1 light-green"><i class="fas fa-graduation-cap"></i><strong> Sweat Equity: {{ sweat }} </strong></h6>
    <h6 class="pb-1 light-green"><i class="fas fa-graduation-cap"></i><strong> Timeframe: {{ timeframe }} </strong></h6>
    <p>{{ description }}</p>

    <div class="row">
        <div class="col-2">
            <h7><i class="fas fa-check"></i> B</h7>
        </div>
        <div class="col-2">
            <h7><i class="fas fa-check"></i> R</h7>
        </div>
        <div class="col-2">
            <h7><i class="fas fa-check"></i> E</h7>
        </div>
        <div class="col-2">
            <h7><i class="fas fa-check"></i> A</h7>
        </div>
        <div class="col-2">
            <h7><i class="fas fa-check"></i> T</h7>
        </div>
        <div class="col-2">
            <h7><i class="fas fa-check"></i> H</h7>
        </div>
    </div>
</div>
